* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: column;
	padding: 0px 10%;
}



div {
	text-align: center;
	padding: 2% 0;
}

div h1 {
	text-align: center;
	padding: 6px 0;
}

div p {
	text-align: justify;
	padding: 6px 0;
}

div h3 {
	text-align: left;
	padding: 6px 0;
}

div ul {
	list-style: none;
	text-align: left;
}

div ul li {
	padding: 6px 0;
}

div strong {
	color: #f90;
}

#footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#footer div {
	width: 80%;
	height: 0px;
	margin: auto;
	padding: 0;
	border: 1px solid #f90;
	margin-bottom: 6px;
}

#footer a {
	font-family: "Inter";
	font-weight: bold;
	text-decoration: none;
	color: #ff9900;
	width: 33.3%;
}