* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* html {
  height: 100vh;
} */

body {
  padding: 65px 10% 0 10%;
  height: 85vh;
}

nav {
  /* padding: 4% 10% 0 10%; */
  height: 4vh;
  display: flex;
  margin-bottom: 55px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


nav a {
  color: black;
  font-size: large;
  font-weight: bold;
  /* padding: 10px 20px; */
}

nav a:hover {
  /* background-color: rgb(0, 0, 0); */
  color: rgb(3, 226, 22)
}

nav ul {
  display: flex;
  flex: 1;
  gap: 50px;
  justify-content: end;
}

nav ul li {
  /* display: flex; */
  /* width: 33%; */
  list-style: none;
}

nav ul li a {
  color: rgb(252, 255, 255);
  background-color: rgb(3, 226, 22);
  padding: 10px 20px;
  border-radius: 10px;
}

nav ul li a:hover {
  background-color: cadetblue;
  color: rgb(252, 255, 255);
  border-radius: 10px;
}

/* session */

main {
  height: 70vh;
  padding: 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: normal;
  align-items: center;
}

main .div {
  width: 40vh;
  display: flex;
  flex-direction: column;
  /* flex: 3; */
  height: 80%;
  /* border: 1px solid turquoise; */
}

main .div h2 {
  padding: 10px 0px;
  text-align: justify;
}

main .div p:nth-child(2) {
  padding: 10px 0px;
  text-align: justify;
}

main>.div p:nth-child(3) {
  text-align: justify;
  padding: 6px 0px;
}

main .div span {
  padding: 30px 0px;
}

main .div span button {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 10px;
  margin: 0;
  color: cadetblue;
  background-color: rgb(3, 226, 22);
  color: aliceblue;
  border: 0px;
  border-radius: 8px;
  text-transform: uppercase;
}

main .div span button:hover {
  background-color: cadetblue;
  color: rgb(255, 255, 255);
}


main .div2 {
  width: 40vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

main .div2 img {
  /* width: 80%; */
  width: 40vw;
  /* width: 100vh; */
}

footer {
  height: 10vh;
  display: flex;
  font-size: large;
  font-weight: bold;
}

footer p {
  flex: 1;
  text-align: center;
}

footer p a {
  color: rgb(3, 226, 22);
}